canvas {
  border: 1px black solid;
  width: 1400px;
  height: 600px;
  background-color: #004080;
}

.editor-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editor-controls > div {
  padding-left: 20px;
}

.inline-radio-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 250px;
}

.inline-input label {
  margin-right: 10px;
}

.change-island-inputs > * {
  margin-bottom: 10px;
}

input[type="range"] {
  width: 250px;
}